<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- OPTIONAL PERMISSIONS, REMOVE WHATEVER YOU DO NOT NEED -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

  <queries>
    <package android:name="com.whatsapp" />
    <package android:name="com.whatsapp.w4b" />
    <provider android:authorities="com.whatsapp.provider.sticker_whitelist_check" />
    <provider android:authorities="com.whatsapp.w4b.provider.sticker_whitelist_check" />

    <!-- Support checking for http(s) links via the Linking API -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
  </queries>

  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false" android:theme="@style/AppTheme" android:supportsRtl="true">
    <activity android:name=".MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:theme="@style/Theme.App.SplashScreen" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    
    <provider
    android:name=".StickerContentProvider"
    android:authorities="${applicationId}.stickercontentprovider"
        android:enabled="true"
        android:exported="true"
        android:grantUriPermissions="true"
        android:readPermission="com.whatsapp.sticker.READ" />
        
  </application>
</manifest>
